services:
  backend:
    build: .
    ports:
      - "8090:8090"
      - "8091:8091"
    env_file:
      - .env
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "1313:1313"
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - VITE_BOT_TOKEN=${BOT_TOKEN}
      - VITE_ENV=${ENV}
      - VITE_MOCK_TG_ID=${VITE_MOCK_TG_ID}
      - VITE_MOCK_TG_FIRST_NAME=${VITE_MOCK_TG_FIRST_NAME}
      - VITE_MOCK_TG_LAST_NAME=${VITE_MOCK_TG_LAST_NAME}
      - VITE_MOCK_TG_USERNAME=${VITE_MOCK_TG_USERNAME}
    depends_on:
      - backend

  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
